.footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0,0,0, .7);
  color: #fff;

  & > .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__contacts {
    &--list {
      position: relative;
      margin: 0;
      padding: 0;
      list-style-type: none;

      &-item {
        position: relative;
        margin-left: 25px;
        margin-top: 5px;
        // text-decoration: none;
      }
      &-img {
        position: absolute;
        left: calc(-25px);
        top: calc(25%);
      }
    }
  }

  &__post {
    margin: 15px 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0, .3);
    border-radius: 30px 30px 0 0;

    &--title {
      margin: 10px 0;
      font-family: Arial, Helvetica, sans-serif;//Montserrat;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  &__info {

    &--list {
      list-style-type: none;
      margin: 0;
      padding: 0;

      &-item {
        margin-top: 5px;
      }
    }

    &--links {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
    }
    &--link {
      color: #fff;
    }
  }

  &__section--title {
    margin: 50px 0 7px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }


  & .social__block {
    &--link {
      height: 25px;
      border-radius: 50%;
      transition-duration: .3s;
  
      &:hover {
        box-shadow: 0px 0px 15px #fff;//#3577db;
      }
    }
    &--img {
      // filter: invert(10%) sepia(70%) saturate(5%) hue-rotate(50deg) brightness(150%) contrast(150%)
    }
  }

  @media (max-width: 900px) {
    padding: 0 30px;
    &__content {
      gap: 25px;
      justify-content: center;
    }
    &__post {
      margin-top: 35px;
    }
    &__post--title {
      text-align: center;
    }
  }
  @media (max-width: 900px) {
    &__post {
      padding: 5px 25px;
    }
  }
}