.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;

  &__title {
    text-align: center;
    
    font-size: 30px;
    font-weight: 600;
    color: #585858;
    text-transform: uppercase;
  }

  &__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    @media (max-width: 975px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    width: 50%;
    min-width: 450px;
    height: 350px;
    margin-bottom: 25px;
    padding: 30px 16px 20px;
    display: flex;
    flex-direction: column;
    color: #fff;

    &--orange {
      background-color: #FFB23F;
    }
    &--blue {
      background-color: #3F8CFF;
    }

    &--title {
      margin: 0;
      font-size: 30px;
      font-weight: 600;
      text-align: left;
    }

    &--text {
      margin: 4px 0 0;
      height: 205px;
      overflow-y: hidden;

      font-size: 16px;
      font-weight: 400;
      text-align: left;

      text-indent: 20px;
    }

    &--btn {
      margin-top: 15px;
      width: 240px;
      height: 40px;
      border: 2px solid #fff;
      border-radius: 10px;
      background-color: transparent;
      align-self: center;

      color: #fff;
      font-size: 16px;
      font-weight: 500;

      transition: all .3s;

      &:hover {
        cursor: pointer;
        background-color: #fff;
        color: #585858;
        font-weight: 600;
      }
    }

    @media (max-width: 975px) {
      width: 100%;
      max-width: 600px;
      min-width: 320px;
    }
  }
}